name: export

on:
  push:

jobs:
  export-pdf:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Generate redirect page
        run: |
          mkdir -p output
          touch output/index.html
          echo '<head><meta http-equiv="refresh" content="0; url=https://gigahawk.github.io/pottery-logbook/logbook.pdf" /></head>' > output/index.html

      - uses: jmservera/libreoffice-action@v0.3.0-alpha
        with:
          command: "libreoffice --headless --invisible --convert-to 'pdf:draw_pdf_Export:{\"UseLosslessCompression\":{\"type\":\"boolean\",\"value\":\"true\"},\"ReduceImageResolution\": {\"type\":\"boolean\",\"value\":\"false\"}}' 'logbook.odg' --outdir 'output'"


      - run: ls -ahl output

      - uses: actions/upload-artifact@v4
        with:
          name: pottery-logbook-export
          path: output
          if-no-files-found: error

      - uses: actions/upload-pages-artifact@v3
        with:
          path: output

  deploy-web:
    if: github.ref == 'refs/heads/master'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: export-pdf
    steps:
      - uses: actions/deploy-pages@v4
